[Desktop Entry]
Version=1.0
Type=Application
Name=StartIoT
Comment=
Exec=/home/lubuntu/Desktop/StartButton
Icon=preferences-desktop-locale
Path=/home/lubuntu
Terminal=false
StartupNotify=false
